.shadow {
  box-shadow: 0px -2px 25px 0px rgba(0,0,0,0.75);
}

.arrow {
  font-size: 150%;
	color: #03A2DF;
	background-color: rgba(254,254,254,0.5);
	cursor: pointer;
  padding: 1% 2%;
  position: fixed;
  top: 45%
}

.gt {}

.show {
  position: fixed;
  top: 45%;
  transform: translateY(-50%);
}

.show__prevButton {
  @extend .shadow;
}
.show__fullSize {
  vertical-align: middle;
  border: #C3C3C3 2px solid;
}
.show__nextButton {
  @extend .shadow;
  right:0;
}

.caption {
  position: fixed;
  bottom: 20%;
}

.caption__subtitle {
  font-size: 130%;
}
.caption_note {}

.reel {
  margin-top: 5%;
  padding: 2% 0;
  background-image: url("../img/thumbs_bg.png");
  background-size: cover;
  position: fixed;
	bottom: 0%;
}

.reel__thumb {
  box-shadow: 0px -2px 25px 0px rgba(0,0,0,0.75);
  filter: opacity(.5);
  vertical-align: top;
  cursor: pointer;
}

.reel__thumb--selected {
  filter: initial;
  width: 110px;
  border: #03A2DF 1px solid;
}

@media only screen and (min-width: 768px) {

  .arrow {
    position: static;
  }
}
